In [2]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv("adult.csv")

# csvdataframe[].replace("?", NaN)

In [19]:
data.head()

,age,work-class,fnlwgt,education,Education-num,marital-status,occupation,relationship,race,sex,capital-gain,Capital-loss,Hours-per-week,Native-country,y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
data["work-class-mod"] = data["work-class"]

In [23]:
data["work-class-mod"].head()

0            State-gov
1     Self-emp-not-inc
2              Private
3              Private
4              Private
Name: work-class-mod, dtype: object

In [24]:
data["work-class-mod"].mode()

0     Private
dtype: object

In [30]:
data["work-class-mod"]

0                State-gov
1         Self-emp-not-inc
2                  Private
3                  Private
4                  Private
5                  Private
6                  Private
7         Self-emp-not-inc
8                  Private
9                  Private
10                 Private
11               State-gov
12                 Private
13                 Private
14                 Private
15                 Private
16        Self-emp-not-inc
17                 Private
18                 Private
19        Self-emp-not-inc
20                 Private
21                 Private
22             Federal-gov
23                 Private
24                 Private
25               Local-gov
26                 Private
27                       ?
28                 Private
29                 Private
               ...
32531                    ?
32532              Private
32533              Private
32534              Private
32535              Private
32536              Private
32537              Private
32538              Private
32539                    ?
32540            State-gov
32541                    ?
32542                    ?
32543            Local-gov
32544              Private
32545            Local-gov
32546              Private
32547              Private
32548     Self-emp-not-inc
32549            State-gov
32550     Self-emp-not-inc
32551              Private
32552              Private
32553              Private
32554              Private
32555              Private
32556              Private
32557              Private
32558              Private
32559              Private
32560         Self-emp-inc
Name: work-class-mod, Length: 32561, dtype: object

In [43]:
mode = data["work-class-mod"].mode()[0]
print(mode)
data["wcm"] = data["work-class"].str.replace("?", mode)
data["wcm"]

 Private

0                State-gov
1         Self-emp-not-inc
2                  Private
3                  Private
4                  Private
5                  Private
6                  Private
7         Self-emp-not-inc
8                  Private
9                  Private
10                 Private
11               State-gov
12                 Private
13                 Private
14                 Private
15                 Private
16        Self-emp-not-inc
17                 Private
18                 Private
19        Self-emp-not-inc
20                 Private
21                 Private
22             Federal-gov
23                 Private
24                 Private
25               Local-gov
26                 Private
27                 Private
28                 Private
29                 Private
               ...
32531              Private
32532              Private
32533              Private
32534              Private
32535              Private
32536              Private
32537              Private
32538              Private
32539              Private
32540            State-gov
32541              Private
32542              Private
32543            Local-gov
32544              Private
32545            Local-gov
32546              Private
32547              Private
32548     Self-emp-not-inc
32549            State-gov
32550     Self-emp-not-inc
32551              Private
32552              Private
32553              Private
32554              Private
32555              Private
32556              Private
32557              Private
32558              Private
32559              Private
32560         Self-emp-inc
Name: wcm, Length: 32561, dtype: object